
.ownerListContainer, .centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
}
.table {
    margin: 50px;
    max-width : 70%;
}
.tableContainer {}
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.artImage {
    width: 100%;
    max-width: 200px;
    height: auto;
}
.artThumnail {
    width : 100%;
    max-width: 50px;
    height: auto;
}