
.ownerListContainer, .centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
}
.table {
    margin: 50px;
    max-width : 90%;
}
.tableContainer {}
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn {
    background-color: rgb(39, 81, 47);
}
.artImage {
    width: 100%;
    max-width: 200px;
    height: auto;
}
.artThumnail {
    width : 100%;
    max-width: 80px;
    height: auto;
}
.searchbutton {
    margin-top:25px;
    margin-left: -60%;
}
.view-btn {
    margin-left: -2%;
}
table tbody tr td {
    word-wrap: break-word;
    max-width: 100px;
}
.items {

}